body {
    margin: 0;
    padding: 3%;
    background: url("../background.jpeg");
    background-size: 100% auto;
}

input {
    width: 300px;
    height: 50px;
    font-size: xx-large;
}

img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.div-bicicletta {
    display: block;
    padding: 2%;
}

.div-RowGrid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.div-RowCarrello {
    margin: 5% 0% 0% 0%;
}

.div-contenitoreBiciclette {
    display: block;
}

.div-categorie {
    display: block;
}

.div-catalogo {
    display: block;
    padding: 5%;
}

.h1-categorie {
    margin: 1em 0 .5em;
    font-family: hooligan-jf;
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    letter-spacing: .015em;
    text-decoration: none;
    line-height: 1em;
    color: #fff;
}

.p-Modello {
    line-height: 1.68em;
    font-size: 18px;
    color: #fff;
    font-family: futura-pt;
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    letter-spacing: .015em;
    margin-left: 5%;
}

.p-prezzi {
    white-space: pre-wrap;
    color: #fff;
    font-family: futura-pt;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .015em;
    line-height: 1.5em;
}